*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    height: 100%;
    width: 100%;
    overflow-x: none; 
    background-image: linear-gradient(160deg, #0d2a44 0%, #80D0C7 100%);


    
}
.navcontainer{
   
    width: 100vw;
    /* background-color: rgba(141, 141, 202, 0.658); */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    min-height: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    
          
}  
nav{
    width: 100%;
    padding-right: 2rem;
}
#navlist{
    width: 100%;
    padding: 15px;
    /* margin-left: 15px;
    margin-left: 15px; */
    list-style: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{
    font-size: 2.5rem;
    color:white;
    margin: 10px;
}

a{
    text-decoration: none;
    color: azure;
}
#navitems{
    display: flex;
    gap: 40px;
    margin: 10px;
   
}

.footer{
    background-image: linear-gradient(160deg, #0d2a44 0%, #80D0C7 100%);

    text-align: center;
    min-height: 40px;
    width: 100%;
}

.footer p{
    color: azure;
    font-size: 2rem;
}


.contentbox{
    width: 70%;
    margin: auto;
    /* border: 1px solid black; */
    box-shadow: 0px 0px 30px black;
    background-color: White;
    gap: 100px;
    padding: 3rem ;
}

.item{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.rightbox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
}
.rightbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(43, 39, 39, 0.767);
    border-radius: 20px;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear 0s;

}
.rightbox:hover .overlay{
    opacity: 1;
}
.rightbox .overlay span{
    color: white;
    font-size: 1.2rem;
}

.rightbox img{
     height: 300px;
     border-radius: 20px;
     transition: all 0.6s linear 0s;
}
.rightbox:hover{
    transform: scale(1.2);
}



.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftbox h2{
    font-size: 2rem;
}
.ingbox{
    font-size: 1.3rem;
}
.recipiebox{
    font-size: 1.1rem;
}